.section_reviews {
    width: 100%;
    max-height: 100%;
    -o-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse; 
    position: relative;
};

.section_reviews_item {
    -o-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
};

@media (max-width: 600px) {
  .section_reviews_item {
    position: relative;
  }
}; 


.section_reviews_content {
    -o-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    align-items: center;
};

.section_reviews_text {
    -o-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
};

@media (max-width: 600px) {
  .section_reviews_text {
    margin-right: 0; 
  }
}; 

.reviews_img {
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    min-width: 111px;
    min-height: 111px;
    max-width: 242.88px;
    max-height: 364.47px; 
};

@media (max-width: 600px) {
  .reviews_img {
    width: 111px;
    height: 111px;
  }
}; 

.section_reviews_img {
    max-width: 730px;
    max-height: 729px;
    min-width: 404px;
    min-height: 403px;
};

@media (max-width: 600px) {
  .section_reviews_img {
    width: 404px;
    height: 403px;
  }
}; 

.section_reviews_item > p {
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: $font-color;
    position: relative;
};

.section_reviews_text > span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 104.5%;
    color: #89898D;
    padding-top: 5px; 
};

.section_reviews_text > p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 124.5%;
    color: #4B4E5B;
    text-align: left;
};

@media (max-width: 600px) {
  .section_reviews_text > p {
    font-size: 14px;
  }
}; 

.section_reviews_line {
    width: 254.8px;
    height: 0px;
    border: 1.21333px solid rgba(75, 78, 91, 0.5);
};

.section_reviews_decor {
    position: absolute;
    left: 0; 
    top: 15%; 
};

@media (max-width: 600px) {
  .section_reviews_decor {
    -o-display: none;
    -moz-display: none;
    -ms-display: none;
    -webkit-display: none;
    display: none; 
  }
}; 

.section_reviews_decor_mobile {
    -o-display: none;
    -moz-display: none;
    -ms-display: none;
    -webkit-display: none;
  display: none; 
}; 

@media (max-width: 600px) {
  .section_reviews_decor_mobile {
    -o-display: block;
    -moz-display: block;
    -ms-display: block;
    -webkit-display: block;
    display: block;
    position: absolute;
    left: 0; 
    top: 0;  
  }
}; 

.reviews_control {
    width: 39px;
    height: 39px;
    color: #fff;
    text-align: center;
    -o-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 0.5px solid #575353;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -o-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
};

  .reviews_control:hover,
  .reviews_control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    -o-opacity: 0.9;
    -moz-opacity: 0.9;
    -ms-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;
  };

  .reviews_control::before {
    content: '';
    -o-display: inline-block;
    -moz-display: inline-block;
    -ms-display: inline-block;
    -webkit-display: inline-block;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  };

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  };

  .slider__control_left {
    left: 0;
    margin-right: 25px; 
  };

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  };

  .slider__control_right {
    right: 0;
    margin-left: 25px; 
  };

.reviews_control_item {
    -o-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    position: absolute;
    bottom: -20%;
    left: 0; 
  };

  @media (max-width: 800px) {
    .reviews_control_item {
      -o-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -webkit-display: flex;
      display: flex;
      position: absolute;
      bottom: -25%;
    }
  }; 
  